.menubar{
    display: flex;
    margin: auto;
    width: 100%;
}
.general-style{
    text-align: center;
    color: #003686;
    margin: auto;
}
 .desc-hsq, .desc-engine, .desc-ciclistica, .desc-specifiche{
    font-size: larger;
    width: auto;
    max-width: 719px;
    text-align: center;
}
div.desc-specifiche{
    text-align: left;
}
.menubar i, .menubar img{
    margin: auto;
    width: auto;
    height: auto;
    color: #003686;
}
.logo{
    max-height: 40%;
    max-width: 35%;
}
h2{
    padding-top: 10%;
    padding-bottom: 5%; 
}
@media screen and (min-width: 576px) /*oltre i 576 comportati cosi:*/{
    [type="textarea"]{
        margin-left: 2%;
    }
    .logo{
        max-height: 30%;
        max-width: 25%;
    }
}
img{
    width: 100%;
}
div.col-sm{
    padding: 0;
}
input:not([type="submit"]){
    width: 100%;
}
[type="textarea"]{
    height: 84.5%;
}
input::placeholder, [type="submit"]{
    font-size: 20px;
}
input{
    text-align: center;
    background-color: transparent;
    color: #003686;
    border: solid 1px black;
}
table img{
    width: auto;
}
table{
    text-align: center;
}
table thead tr{
    border-bottom: 1px solid rgb(86, 86, 86);
}
footer{
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #f2f2f2;
}
